<form action="/forgot-password/link" method="get">
    <input type="email" placeholder="Enter Registered Email" name="email" required><br>
    <input type="submit" value="Get reset link to your mail">
</form>