<form action="/sign-in/reset-password/data/<%= email %>/" method="get">
    <input type="password" placeholder="Reset Password" maxlength="10" name="password" required><br>
    <input type="password" placeholder="Confirm Reset Password" maxlength="10" name="confirm_password" required><br>
    <input type="submit" value="Reset Password">
</form>