<html>
    <head>
        <title>
            Sign In
        </title>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/sign-in.css">
    </head>

    <body>
        <h1>Welcome!! <%= email %></h1>
        <div id="a">
            <a href="/sign-out">Sign Out</a>
            <a href="/sign-in/reset-password/?email=<%= email%>">Reset Password</a>
        </div>


        <script>
            <% if(flash.success && flash.success.length > 0){ %>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.success%>',
                    type: 'success',
                    layout:'topRight',
                    timeout: 1000
                }).show()
            <% } %>

            <% if(flash.error && flash.error.length > 0){ %>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.error%>',
                    type: 'error',
                    layout:'topRight',
                    timeout: 1000
                }).show()
            <% } %>
        </script>
    </body>
</html>