#a{
    position: fixed;
    right: 5vw;
    top: 2vh;
}
a{  
    text-decoration: none;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
    font-family: cursive;
    font-weight: bolder;
    background-color: rgb(122, 186, 188);
}